.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.accountHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 40px;
  height: 50px;
  width: 100%;
}

.accountContent {
  width: 70%;
  min-height: 30vh;
  background-color: #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.accountInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.accountInputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.accountInput label {
  font-weight: bold;
  margin-bottom: 5px;
}

.accountInputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.accountFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  background-color: #e70e0e;
  color: white;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: #fe0101;
}
