/* Modal background */
.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Modal content */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 93.5%;
}

/* Modal title */
.modal-title {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  color: #000000;
}

/* Close button */
.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

/* Form groups */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Labels */
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input fields */
.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Modal footer */
.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Cancel and Add School buttons */
.cancel-button,
.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.add-button {
  background-color: #007bff;
  color: #fff;
}
