.file-upload-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

.file-upload-modal.open {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.dragging .drop-area {
    border: 2px dashed #007bff;
    background-color: #f2f2f2;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 120px;
}

.drop-area p {
    font-size: 16px;
    color: #999;
}

.drop-area.active {
    border: 2px dashed #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
}

.dropdown {
    margin-top: 10px;
    display: block;
    color: #000000;
}

.file-preview {
    margin-top: 10px;
    height: 100px;
}

.file-preview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    height: 50px;
}

.file-preview-item span {
    margin: 10px;
    color: #007bff;
}