/* Style for the overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-overlay.open {
  display: flex;
}

/* File upload modal containers */
.file-upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}

.file-upload-modal.open {
  display: flex;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 60%;
  min-height: 60%;
  width: 45%;
  max-width: 80%;
}

/* Modal header */
.modal-content h2 {
  text-align: center;
}

/* Buttons */
.remove-button {
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.remove-button:hover::before {
  opacity: 1;
  visibility: visible;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  margin-left: 35%;
  width: 30%;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

/* File upload area */
.dragging .drop-area {
  border: 2px dashed #007bff;
  background-color: #f2f2f2;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-area p {
  font-size: 16px;
  color: #999;
}

.drop-area.active {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  color: #007bff;
}

/* Dropdown and file preview */
.dropdown {
  margin-top: 10px;
  display: block;
  color: #000000;
}

/*.css-13cymwt-control {
  height: 60px;
}*/

.file-preview {
  margin-top: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-preview-item {
  border: #0056b3;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  margin-left: 15px;
  height: 50px;
  width: 80%;
  color: #007bff;
  padding-inline: 5px;
}

/* Span */
.file-preview-item span {
  margin-left: 15px;
}

.fileModalBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.fileModalBody {
  width: 100%;
  min-height: 80vh;
}

.fileModal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;
}

.fileModalDropArea {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileModalDropArea p {
  font-size: 16px;
  color: #999;
}

.fileModalDropArea.active {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  color: #007bff;
}
