/*.layout-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100vh;
}*/

.content-container {
  display: flex;
  min-height: 80vh;
  width: 60vw;
}

/* Define a custom scrollbar width */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Define the style of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color as needed */
}

/*.content-layout {
  width: 100%;
  flex-grow: 1;
  display: flex;
}*/

/* ----------------------------- NAV ----------------------------*/

/* Nav.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #112d4e;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  justify-content: flex-end;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  justify-content: flex-end;
}

.menu-icon:hover {
  transform: scale(1.1);
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-dropdown {
  position: absolute;
  top: 31px;
  right: 0;
  background-color: #112d4e;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 300px;
  opacity: 70%;
}

.menu-button {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-dropdown li:hover {
  background-color: #224875;
  cursor: pointer;
}

.home-icon {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.home-icon-div {
  justify-content: flex-end;
}

.home-icon-div:hover {
  transform: scale(1.1);
}

.dropdown-list-item {
  padding: 5px;
  margin-bottom: 5px;
}

/* Breadcrumb styles */
.breadcrumb {
  font-size: 16px;
  margin-right: 70%;
}

.breadcrumb a {
  text-decoration: none;
  color: white;
}

.breadcrumb a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.breadcrumb-link {
  color: white;
  text-decoration: none;
}

/* ----------------------------- SIDEBAR ----------------------------*/
.sidebar {
  position: fixed;
  top: 46px;
  left: -250px; /* Change left to 0 to start at the left */
  width: 250px;
  height: 100%;
  background-color: #112d4e;
  color: #fff;
  transition: left 0.3s ease-in-out;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: right 0.3s ease-in-out;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.sidebar-items {
  list-style: none;
  text-decoration: none;
  padding: 0;
  opacity: 70%;
  width: 100%;
}

.sidebar-items li {
  margin-bottom: 10px;
}

.sidebar-item {
  color: #ffffff;
  text-decoration: none;
  padding-right: 5px;
}

.sidebar-items li:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 2px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-size: larger;
  cursor: default;
}

/* Sidebar open state */
.sidebar.open {
  left: 0;
  transition: left 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Prevent scrolling when the sidebar is open */
.no-scroll {
  overflow: hidden;
}

/* Sidebar handle styles */
.sidebar-handle {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 44%; /* Center vertically */
  right: -20px;
  cursor: pointer;
  font-size: 30px;
  color: #112d4e;
  transition: right 0.3s; /* Add a transition for smooth movement */
  border: 2px solid #112d4e;
  border-radius: 50px;
  background-color: #dbe2ef;
  height: 40px;
}

.sidebar-handle:hover {
  transform: scale(1.2);
}

.MuiList-root:hover {
  text-decoration: none;
  transform: scale(1.02);
}
