.listContent {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listSearch {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-block: 20px;
}

.itemList {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*scrollbar*/
  max-height: 60vh; /* Set a maximum height to limit the list's height */
  overflow-y: auto; /* Add a scrollbar when the list overflows */
  overflow-x: hidden;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #fff; /* Background color for individual school items */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.listItemCategory {
  text-decoration: underline;
}

.listItemDetails {
  width: 100%;
}

.listItemDescription {
  display: flex;
  padding-top: 10px;
}

.listItemSection {
  width: 25%;
}

.listItemSectionLong {
  width: 50%;
}

.itemControl {
  display: flex;
  align-items: center;
}

.itemControlModified {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.itemControl label {
  display: flex;
  flex-direction: column;
}

.itemButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  color: #112d4e;
}

.itemButton:hover {
  transform: scale(1.2);
}

.itemLabel.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 54%;
  color: #09d51a;
}

.itemLabel.inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 54%;
  color: #ec0606;
}

.itemLabel:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* FILTERS */
.listFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.filterSection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 100%;
  font-size: 14px;
}

.filterButton {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  font-weight: 600;
  font-size: medium;
  width: 20%;
}

.filterButton.active {
  background-color: #3f72af;
  color: #fff;
  font-weight: 600;
}

.buttonAdd {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  color: #112d4e;
}

.buttonAdd:hover {
  transform: scale(1.2);
}
