.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
/* Style for the UserList component itself */
.user-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the user list vertically */
}

/* Style for the search input */
.search-input {
  width: 100%;
  margin: 10px 0; /* Add some margin to separate the search input from the user list */
  padding: 5px; /* Add padding to the search input for better appearance */
}

/* Style for individual user items */
.user-item {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for user details */
.user-details {
  flex: 1;
  margin-right: 10px;
}

/* Style for hover */
.item-files,
.item-delete,
.item-check {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

/* not finished.....................*/
.approved:hover::before,
.not-approved:hover::before,
.download:hover::before,
.delete:hover::before {
  opacity: 1;
  visibility: visible;
}
