.content-user-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
/* Style for the UserList component itself */
.user-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the user list vertically */
}

/* Style for the search input */
.search-input-user-list {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Style for individual user items */
.user-item {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for user details */
.user-details {
  flex: 1;
  margin-right: 10px;
}

/* Style for hover */
.item-files,
.item-delete,
.item-check {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

/* not finished.....................*/
.approved:hover::before,
.not-approved:hover::before,
.download:hover::before,
.delete:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Style for filter buttons */

/*.filter-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: #ddd;
}

.filter-button.active {
  background-color: #3f72af;
  color: #ffffff;
}*/

.filter-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.filter-section .filter-button {
  flex: 1 1 auto;
  text-align: center;
}

.filter-section .filter-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.filter-button.active {
  background-color: #fff;
  font-weight: 600;
}
